
/*************************** background ****************************/

.background {
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size:1vw;
	text-align:center;
	font-color:rgb(35,25,20);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}

#background-image {
	background:url("/images/wood.jpg");
	background-size:cover;
}

#home {
	background:url("/images/javaBean.jpg");
	background-size:cover;
}

/********************* containers ************************/

#greeting {
	width:100%;
	background-color:RGBA(255,255,255,0.5);
	box-shadow: 0 25px 25px -10px RGBA(0,0,0,0.85);
	position:absolute;
	top:.5%;
	left:0px;
	text-align:center;
	padding:.5%;
}

.register {
	background:url("/images/register.png");
	background-size:cover;
	position:absolute;
	width:40%;
	height:20%;
	left:30%;
	top:5%;	
}

.thanks {
	width:20%;
	height:20%;
	background-color:RGBA(255,255,255,0.65);
	box-shadow: 0 25px 25px -10px RGBA(0,0,0,0.85);
	position:absolute;
	top:40%;
	left:40%;
	text-align:center;
	padding:5%;
}

fieldset {
  display:block;
  margin-left:0px;
  margin-right:0px;
  padding-top:0px;
  padding-bottom:0px;
  padding-left:0px;
  padding-right:0px;
  border:none;
}

.left {
	padding-top:5%;
	width:20%;
	float:left;
}

.center {
	width:50%;
	float:left;
}

.right {
	padding-top:5%;
	width:30%;
	float:right;
}

.form-left {
	padding:2.5%;
	width:30%;
	float:left;
	text-align:right;
}

.form-right {
	padding:2.5%;
	width:60%;
	float:right;
}

/************************** text *************************/

h1 {
	color:rgb(55,35,15);
}

/************************* input **************************/

form {
	width:40%;
	height:50%;
	background-color:RGBA(255,255,255,0.65);
	box-shadow: 0 25px 25px -10px RGBA(0,0,0,0.85);
	position:absolute;
	top:25%;
	left:30%;
}

button {
	width:40%;
	height:15%;
	background:url("/images/submit.png");
	background-size:cover;
	background-color:RGBA(255,255,255,0.65);
	box-shadow: 0 25px 50px -15px RGBA(0,0,0,0.85);
	position:absolute;
	bottom:5%;
	left:30%;
}

input {
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size:.75vw;
	width:100%;
	height:100%;
}

input:invalid {
	border:.125vw solid rgb(55,35,15);;
}

input:valid {
	border:.125vw solid rgb(250,235,215);
}

a {
	color:crimson;
}

/********************* extras *************************/

.overlay { 
	width:100%; 
	height:100%; 
	background-color:RGBA(255,255,255,0.50);
	position:absolute; 
	top:0px;
	left:0px;

}

.clearfloat {
	clear:left;
	clear:right;
}

hr {
	background-color:rgb(55,35,15);
	margin-left:5%;
	width:100%;
	height:.25vw;
	border:none;
}